
nav {
  display: flex;
  justify-content: flex-start;
  background-color: #4a4a4a;
  padding: 10px;
  margin-bottom: 20px; 
  font-size: larger;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
  color: #333;
}

h2 {
  color: #444;
  text-align: center;
  margin: 20px 0;
}
